@font-face {
  font-family: "New Computer Modern Math";
  src: url("http://localhost:7071/font") format("opentype");
}

html, body {
  margin: 0;
}

.codepoints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
}

.codepoints h2 {
  flex-basis: 100%;
  height: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 5px;
  width: 200px;
  min-height: 80px;
  padding: 4px 8px;
  border-radius: 4px;
  background: rgb(249, 249, 250);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.included {
  background: rgb(177, 228, 89);
}

.unnamed {
  background: rgb(255, 217, 0);
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card > .x {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 20px;
  background: none;
  border: none;
}

.card > .x:hover {
  font-weight: bold;
}

.card > .title {
  font-size: 10px;
}

.card > .symbol {
  font-family: "New Computer Modern Math", "Apple Color Emoji", serif;
  font-size: 30px;
}

.card > .input {
  font-size: 11px;
  font-family: monospace;
  text-align: center;
}
